body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
}
.logo {
  margin-right: 76px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.log {
  color: #2e2f42;
}
.link_ {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
}
.link_:hover,
.link_:focus {
  color: #404bbf;
}
.adres {
  font-style: normal;
}
.adlink_ {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.adlink_:hover,
.adlink_:focus {
  color: #404bbf;
}
.section_one {
  background-color: #2e2f42;
  padding: 188px 0;
}
.h_one {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
}
.but {
  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  display:block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
}
.but:hover,
.but:focus {
  background-color: #404bbf;
}
.baslik_uc {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.baslik_ucp {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.section_three {
  background-color: #f4f4fd;
}
.h_two {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
}
.team {
  background-color: #ffffff;
}
.name {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  font-weight: 500;
}
.namep {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.h_two{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-transform: capitalize;
}
.portname{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.portnamep{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.footer-logo-second{
    color: #f4f4fd;
}
.footer-logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.footer{
    background-color: #2e2f42;
}

.footer-text{
    line-height: 1.5;
    color: #f4f4fd;
    letter-spacing: 0.02em;
}
img {
  display: block;
}
/* <header> stil ayarlar覺 */
.header-class {
  border-bottom: 1px solid #e7e9fc;
}

/* <div> stil ayarlar覺 */
.container {
  display: flex;
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

/* <nav> stil ayarlar覺 */
.nav {
  display: flex;
  align-items: center;
}



/* <ul> stil ayarlar覺 */
.menu,
.adres_ul {
  display: flex;
  gap: 40px;
}

/* Listedeki maddeler */
.menu_li {
  padding: 24px 0;
}