body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.container {
  margin: 0 auto;
  width: 1158px;
  padding: 0 15px;
  display: flex;
  justify-content: center;
}

.logo {
  margin-right: 76px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.log {
  color: #2e2f42;
}
.link_ {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
}
.link_:hover,
.link_:focus {
  color: #404bbf;
}
.adres {
  font-style: normal;
}
.adlink_ {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.adlink_:hover,
.adlink_:focus {
  color: #404bbf;
}
.section_one {
  background-color: #2e2f42;
  color: #ffffff;
  padding: 188px 0;
}
.h_one {
  max-width: 496px;
  color: #ffffff;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}
.but {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  letter-spacing: 0.04em;
  line-height: 1.5;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  background-color: #4d5ae5;
}
.but:hover,
.but:focus {
  background-color: #404bbf;
}
.baslik_uc {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.baslik_ucp {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.section_three {
  background-color: #f4f4fd;
  padding: 120px 0;
}
.h_two {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  flex-basis: calc((100% - 72px) / 4);
}

.team_ul {
  display: flex;
  gap: 24px;
}
.team_div {
  padding: 32px 0;
}

.team-name {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  font-weight: 500;
  text-align: center;
  margin-bottom: 8px;
}
.namep {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

.portname {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.portnamep {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.footer-logo-second {
  color: #f4f4fd;
}
.footer_logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
  display: inline-block;
}
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer_text {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  max-width: 264px;
}
img {
  display: block;
}
/* <header> stil ayarları */
.header-class {
  border-bottom: 1px solid #e7e9fc;
}

/* <nav> stil ayarları */
.nav {
  display: flex;
  align-items: center;
}

/* <ul> stil ayarları */
.menu,
.adres_ul {
  display: flex;
  gap: 40px;
}

/* Listedeki maddeler */
.menu_li {
  padding: 24px 0;
}
.section_two {
  padding: 120px 0;
}

.list {
  display: flex;
  gap: 24px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.portf {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  margin-bottom: 8px;
}

.list_item {
  width: calc((100% - 72px) / 4);
  list-style-type: none;
  text-decoration: none;
}
.section_four {
  padding: 120px 0;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portli {
  text-decoration: none;
  list-style-type: none;
  flex-basis: calc((100% - 72px) / 4);
}

.h_two {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  font-style: normal;
  margin-bottom: 72px;
}
.portnamep {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  font-style: normal;
  margin-bottom: 8px;
}
.portfolio-p {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
